NET "clk_board" LOC = V10;
NET "rst" LOC = B8;
NET "hsync" LOC = N6;
NET "vsync" LOC = P7;
NET "red[0]" LOC = U7;
NET "red[1]" LOC = V7;
NET "red[2]" LOC = N7;
NET "green[0]" LOC = P8;
NET "green[1]" LOC = T6;
NET "green[2]" LOC = V6;
NET "blue[0]" LOC = R7;
NET "blue[1]" LOC = T7;
NET "rx" LOC = N17;
NET "tx" LOC = N18;
NET "addr[0]" LOC = K18;
NET "addr[1]" LOC = K17;
NET "addr[2]" LOC = J18;
NET "addr[3]" LOC = J16;
NET "addr[4]" LOC = G18;
NET "addr[5]" LOC = G16;
NET "addr[6]" LOC = H16;
NET "addr[7]" LOC = H15;
NET "addr[8]" LOC = H14;
NET "addr[9]" LOC = H13;
NET "addr[10]" LOC = F18;
NET "addr[11]" LOC = F17;
NET "addr[12]" LOC = K13;
NET "addr[13]" LOC = K12;
NET "addr[14]" LOC = E18;
NET "addr[15]" LOC = E16;
NET "addr[16]" LOC = G13;
NET "addr[17]" LOC = H12;
NET "addr[18]" LOC = D18;
NET "addr[19]" LOC = D17;
NET "addr[20]" LOC = G14;
NET "addr[21]" LOC = F14;
NET "addr[22]" LOC = C18;
NET "addr[23]" LOC = C17;
NET "addr[24]" LOC = F16;
NET "addr[25]" LOC = F15;
NET "mem_data[0]" LOC = R13;
NET "mem_data[1]" LOC = T14;
NET "mem_data[2]" LOC = V14;
NET "mem_data[3]" LOC = U5;
NET "mem_data[4]" LOC = V5;
NET "mem_data[5]" LOC = R3;
NET "mem_data[6]" LOC = T3;
NET "mem_data[7]" LOC = R5;
NET "mem_data[8]" LOC = N5;
NET "mem_data[9]" LOC = P6;
NET "mem_data[10]" LOC = P12;
NET "mem_data[11]" LOC = U13;
NET "mem_data[12]" LOC = V13;
NET "mem_data[13]" LOC = U10;
NET "mem_data[14]" LOC = R8;
NET "mem_data[15]" LOC = T8;
NET "mem_oe" LOC = L18;
NET "mem_we" LOC = M16;
NET "mem_clk" LOC = R10;
NET "mem_adv" LOC = H18;
NET "mem_mt_ce" LOC = L15;
NET "mem_mt_ub" LOC = K15;
NET "mem_mt_lb" LOC = K16;
NET "mem_mt_cre" LOC = M18;
NET "flash_ce" LOC = L17;
NET "dac_clk" LOC = P11;
NET "dac_sync" LOC = T12;
NET "dac_data" LOC = V12;